<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rich Bay</title>
  <link rel="stylesheet" href="/style2/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!-- bootstrap links -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- bootstrap links -->
  <!-- fonts links -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <!-- fonts links -->

</head>

<body style="background: #d4f8ea;">

 
  <!-- top navbar -->
  <div class="top-navbar">
    <% if(user){ %>
      <% }else{ %>
        <p>WELCOME TO OUR SHOP</p>
        <div class="icons">
          <a href="/login"><img src="./images/register.png" alt="" width="18px" />Login</a>
          <a href="/signup"><img src="./images/register.png" alt="" width="18px" />Register</a>
          <% } %>
        </div>
  </div>
  <!-- top navbar -->

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-dark" id="navbar">
    <div class="container-fluid bg-dark">
      <a class="navbar-brand" href="index.html" id="logo"><span id="span1">Rich</span>Bay <span>Watches</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="./images/menu.png" alt="" width="30px" /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/display-products">Product</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(255, 255, 255)">
              <% catogery.forEach((cat,i)=>{%>
                <li>
                  <a class="dropdown-item" href="/display-products?categoryId=<%=cat._id %>">
                    <%=cat.catogeryname %>
                  </a>
                </li>

                <% }) %>
            </ul>
          </li>

        </ul>
        <form action="" method="" class=" d-flex " id="searchForm">
          <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success me-5" type="submit">
            Search
          </button>
        </form>

        <div class="d-flex">
          <div class="d-flex">
            <a style="color: #000" class="bg-white p-1 px-2 mt-2 rounded-circle" href="/cart"><span>
                <li class="fa-solid fa-cart-shopping"></li>
              </span></a>
            <span class="cart-item-count bg-danger text-white px-1 mt-1 small mb-3 me-2 rounded-circle"
              style="margin-left: -9px">4</span>
          </div>
          <div class="d-flex">
            <a style="color: #000" class="bg-white p-1 px-2 mt-2 rounded-circle" href="wish-list"><span>
                <li class="far fa-heart"></li>
              </span></a>
            <span class="cart-item-count bg-danger text-white px-1 mt-1 small mb-3 me-2 rounded-circle"
              style="margin-left: -9px">4</span>
          </div>
        </div>

        <% if(user){ %>
          <nav class="navbar navbar-expand-lg ms-5 navbar-light bg-transparent align-items-end justify-content-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white second-text fw-bold" href="#" id="navbarDropdown"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user me-2"></i>
                    <%=user.username %>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="/userprofile">Profile</a>
                    </li>
                    <li><a class="dropdown-item " href="/wallet">Wallet</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <% } %>
      </div>
    </div>
  </nav>
  <!-- navbar -->







  <div class="container py-5">
    <div class="row ">
      <div class="col-md-4 mt-5 me-2  d-flex justify-content-center">
        <div class="card  ">
          <div class="card-body text-center ">
            <i class="bi bi-person-circle fs-1"></i>
            <h5 class="card-title mt-3">Personal Information</h5>
            <div class="mt-5"
              style="margin-left: 60px; width: 200px; height: 200px; background: url(https://cdn-icons-png.flaticon.com/512/21/21104.png); background-size: cover;">
            </div>
            <h2 class="card-title mt-5">
              <%=user.username%>
            </h2>
            <p class="card-text">Email :<%=user.email%>
            </p>
            <div class="d-flex mt-5">
              <a href="/editprofile" class="nav-link mt-3 bg-dark btn">Edit Profile</a>
              <a href="/change_password" class="nav-link mt-3 bg-dark btn">Change Password</a>
            </div>

          </div>
        </div>
      </div>
      <div class="card-body border col-md-3 justify-content-center d-flex">
        <div class="col-md-8 ">
          <% address.forEach((address,i)=>{ %>

            <div class="card mt-4">


              <div class="card-body">
                <h5 class="card-title">Address<%=i+1 %>
                </h5>
                <p class="card-text">
                  Name :<%=address.name %> ,
                    <br>
                    Mobile No :<%=address.mobile %>,
                      <br>
                      pin :<%=address.pin %>,
                        <br>
                        address :<%=address.address %>,
                          <br>
                          city :<%=address.city %>,
                            <br>
                            state :<%=address.state %>
                </p>
                <a href="/editaddress?id=<%=address._id  %>" class="btn btn-primary">Edit Address</a>
              </div>
            </div>
            <% }) %>


              <a href="/addaddress"
                class="nav-link text-white border mt-3 fw-bold  fs-3 justify-content-center d-flex bg-dark">Add
                Address</a>
        </div>
      </div>


      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Orders</h5>
          <div class="list-group shadow">


            <% orderlist.forEach((order,i)=>{ %>

              <div class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <span class="fw-bold">Order ID:</span>
                    <%=order._id %>
                      <br>
                      <span class="fw-bold">Oreder Date:</span> <%=order.dateorder.toLocaleDateString('en-US', {
                        month: 'long' , day: 'numeric' , year: 'numeric' ,});%>
                        <br>
                        <% var products=0 %>
                          <% order.orderitems.forEach((item,i)=>{ %>
                            <% products++ %>
                              <% }) %>
                                <span class="fw-bold">Products : <%=products %> </span>

                                <br>
                                <br>

                                <% order.orderitems.forEach((item,i)=>{ %>


                                  <img src="<%=item.product.image[0].url  %>" alt="Product 1" class="img-thumbnail mt-2"
                                    style="width: 100px;">
                                  <% }) %>
                  </div>
                  <div>
                    <span class="fw-bold">Status:</span>
                    <%=order.status %>
                      <br>
                      <a class="btn btn-outline-dark btn-sm mt-2" href="/order-detiles?id=<%=order._id  %>">view
                        order</a>
                      <br>
                      <% if(order.status!=='Deliverd' &&order.status!=='cancelled' ){%>
                        <button onclick="Cancelorder('<%=order._id  %>')" class="btn btn-danger btn-sm mt-2">Cancel
                          Order</button>
                        <% }else{ %>
                          <button onclick="returnOrder('<%=order._id %>')" class="btn btn-danger btn-sm mt-2" <% if
                            (order.returntime <=now ||order.status=='cancelled' ) { %> disabled <% } %>>Return</button>

                          <% } %>
                  </div>
                </div>
              </div>

              <% }) %>

          </div>
        </div>
      </div>




    </div>
  </div>
  </div>




  <!-- offer -->
  <div class="container" id="offer">
    <div class="row">
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-cart-shopping"></i>
        <h3>Free Shipping</h3>
        <p>On order over $1000</p>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-rotate-left"></i>
        <h3>Free Returns</h3>
        <p>Within 30 days</p>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-truck"></i>
        <h3>Fast Delivery</h3>
        <p>World Wide</p>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-thumbs-up"></i>
        <h3>Big choice</h3>
        <p>Of products</p>
      </div>
    </div>
  </div>
  <!-- offer -->











  <!-- footer -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Rich Bay Wathes</h3>
            <p>
              Malappuram <br>
              Tirur <br>
              India <br>
            </p>
            <strong>Phone:</strong> +000000000000000 <br>
            <strong>Email:</strong> richbaywatches@.com <br>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Usefull Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policey</a></li>
            </ul>
          </div>





          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>

            <ul>
              <li><a href="#">Women's Collection</a></li>
              <li><a href="#">Men's Collection</a></li>
              <li><a href="#">Smart Watches</a></li>
              <li><a href="#">Automatic</a></li>
              <li><a href="#">Kidis Collection</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, quibusdam.</p>

            <div class="socail-links mt-3">
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-skype"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Rich bay Watches</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">SA coding</a>
      </div>
    </div>
  </footer>
  <!-- footer -->







  <a href="#" class="arrow"><i><img src="./images/arrow.png" alt=""></i></a>













  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- axios cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

  <!-- sweet alert cdn -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script>
    function Cancelorder(orderid, itemid) {
      Swal.fire({
        icon: "warning",
        title: "Are you sure?",
        text: "Cancel Order?",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ok",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.get(`/cancelorder?orderid=${orderid}`).then((result) => {
            Swal.fire("Canceld.!", "Product has been Canceld.", "success").then((response) => {
              location.reload();
            })
          })

        }
      });
    }


    function returnOrder(id) {

      Swal.fire({
        icon: "warning",
        title: "Are you sure?",
        text: "Return Order?",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          console.log(id);
          $.ajax({
            type: "POST",
            url: "/return",
            data: {
              orderId: id
            },
            success: function (res) {
              console.log('ITS WORKING');

              if (res.success) {
                Swal.fire("Order Return!", "Order will be returned.", "success").then((response) => {
                  $.get(location.href, function (data) {
                    $("#order-track").html($(data).find("#order-track").html());
                    // $("#order-return").html($(data).find("#order-return").html());
                  });
                })
              }
            }

          })

        }
      });



    }


  </script>



</body>

</html>